
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>多文件上传</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Content/layui/layui.all.js"></script>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/webupload/webuploader.js"></script>
    <link href="~/Content/webupload/webuploader.css" rel="stylesheet" />
    <script type="text/javascript">
       var applicationPath = window.applicationPath === "" ? "" : window.applicationPath || "../../";
        $(document).ready(function () {
           var $ = jQuery,
                $list = $('#fileList'),
               // 优化retina, 在retina下这个值是2
                ratio = window.devicePixelRatio || 1,
               // 缩略图大小
                thumbnailWidth = 90 * ratio,
                thumbnailHeight = 90 * ratio,
               // Web Uploader实例
                uploader;
                uploader = WebUploader.create({
               // 选完文件后，是否自动上传。
                multiple:true, // multiple { Boolean }是否开起同时选择多个文件能力。
                auto: false,
                disableGlobalDnd: true,
               // swf文件路径
                swf: '../../Script/Uploader.swf',

               //上传并发数

                 threads: 1,

              //  method { Object }[可选][默认值：'POST']文件上传方式，POST或者GET。

              // fileNumLimit { int }[可选][默认值：undefined]验证文件总数量, 超出则不允许加入队列。

              //  fileSizeLimit { int }[可选][默认值：undefined]验证文件总大小是否超出限制, 超出则不允许加入队列。

              // fileSingleSizeLimit { int }[可选][默认值：undefined]验证单个文件大小是否超出限制, 超出则不允许加入队

               // 文件接收服务端。

                server: '@Url.Action("/ProcessRequest")',

                //是否切块

               // chunked: true,

               //切块大小

               // chunkSize: 10 * 1024 * 1024,

               // 选择文件的按钮。可选。

               // 内部根据当前运行是创建，可能是input元素，也可能是flash.

                pick: '#filePicker',

               //只允许选择图片

                accept: {

                    title: 'Images',

                    extensions:'*', //'gif,jpg,jpeg,bmp,png',

                    mimeTypes: '*'//'image/*'

                }

            });

           // 当有文件添加进来的时候

            uploader.on('fileQueued', function (file) {

                       // alert(file.id);

                       var tr = $(['<tr id="upload-' + file.id + '">'

                            , '<td class="name"><a class="upload-img-prev-link" href="javascript:;">' + file.name + '</a></td>'

                            , '<td>' + (file.size / 1024).toFixed(1) + 'kb</td>'

                            , '<td id="wait_' + file.id + '" > 等待上传</td > '

                            , '<td>'

                            , '<div id="file_' + file.id + '" class="layui-progress layui-progress-big layui-progress-radius-fix" lay-showpercent="true" lay-filter="image' + file.id + '">'

                            , '<div class="layui-progress-bar" lay-percent="30%">'

                            , '<span class="layui-progress-text">0%</span>'

                            , '</div>'

                            , '</div>'

                            , '</td>'

                            , '<td id="' + file.id + '">'

                            , '<button class="layui-btn layui-btn-mini image-reload layui-reload file-reload">重传</button>'

                            , '<button class="layui-btn layui-btn-mini layui-btn-danger file-delete ">删除</button>'

                           , '</td>'

                            , '</tr>'].join(''));

                        $("#imageListView").append(tr);

                       //// 创建缩略图

                       //// 如果为非图片文件，可以不用调用此方法。

                       //// thumbnailWidth x thumbnailHeight 为 90x 90

                       //$img = $("#img" + file.id);

                        //uploader.makeThumb(file, function (error, src) {

                       //    if (error) {

                       //   //    alert("#img" + file.id);

                       //       // $img.hide();

                       //        // $img.replaceWith('<span>不能预览</span>');

                       //        return;

                       //    }

                       //    alert("#img" + file.id);

                       //    $img.attr('src', src);

                       //}, thumbnailWidth, thumbnailHeight);



            });

           // 文件上传过程中创建进度条实时显示。

            uploader.on('uploadProgress', function (file, percentage) {

                layui.element.progress('image' + file.id, percentage * 100 + "%")

            });

           // 文件上传成功，给item添加成功class, 用样式标记上传成功。

            uploader.on('uploadSuccess', function (file, response) {

                $("#wait_" + file.id).html("已上传!");

            });

           // 文件上传失败，显示上传出错。

            uploader.on('uploadError', function (file) {

                $("#wait_" + file.id).html("上传失败!");

            });

           // 完成上传完了，成功或者失败，先删除进度条。

            uploader.on('uploadComplete', function (file) {

            });

           //所有文件上传完毕

            uploader.on("uploadFinished", function () {

               //提交表单

            });

           //开始上传

            $("#ctlBtn").click(function () {

                uploader.upload();

            });

           //执行删除方法，只是从客户端删除

            $("#imageListView").on("click", ".file-delete", function () {

                $delete1 = $(this);                     //保存当前点击事件

             layui.layer.confirm('确定删除？', {         //弹出是否删除框

                    btn: ['确定', '取消'] //按钮

             }, function (index) { //确定

                //执行删除

                var Id = $delete1.parent().attr("id");

                 uploader.removeFile(uploader.getFile(Id, true));

                 $delete1.parent().parent().remove();

                 layer.close(index);



                 }, function (index) { //取消

                     layer.close(index);

                });

            });

            $("#imageListView").on("click", ".file-reload", function () {

                $delete1 = $(this);                     //保存当前点击事件

                layui.layer.confirm('确定重新上传？', {         //弹出是否删除框

                    btn: ['确定', '取消'] //按钮

                }, function (index) { //确定

                   //执行删除

                   var Id = $delete1.parent().attr("id");

                    layui.element.progress('image' + uploader.getFile(Id, true).id, "0%")

                    $("#wait_" + uploader.getFile(Id, true).id).html("正在上传!");

                    uploader.retry(uploader.getFile(Id, true));

                    layer.close(index);

                }, function (index) { //取消

                    layer.close(index);

                });

            });

        });

    </script>

</head>

<body>

    <div class="container">

        <div class="row">图片上传示例： <div class="cp_img_jia" id="filePicker">选择文件</div></div>

        <div class="row">

            <table class="layui-table" lay-size="sm" lay-skin="row">

                <thead>

                    <tr>

                        <th><div class="layui-table-cell laytable-cell-2-status" align="center"><span>文件名</span></div></th>

                        <th><div class="layui-table-cell laytable-cell-2-status" align="center"><span>大小</span></div></th>

                        <th><div class="layui-table-cell laytable-cell-2-status" align="center"><span>状态</span></div></th>

                        <th><div class="layui-table-cell laytable-cell-2-status" align="center"><span>进度</span></div></th>

                        <th><div class="layui-table-cell laytable-cell-2-status" align="center"><span>操作</span></div></th>

                    </tr>

                </thead>

                <tbody id="imageListView"></tbody>

            </table>

        </div>

        <div class="row">  <button id="ctlBtn" class="btn btn-default">开始上传</button></div>

    </div>

</body>

</html>
